img {
    width: 200px;
  }

  
body {
    
    font-family: 'Arial';
    background: rgb(6, 16, 42);
    color: rgb(255, 255, 255);
  }

  header {
    text-align: center;
    font-size:large;
    width: 100%;
    height: 150px;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(213, 224, 240);
    background: rgb(80, 141, 212);
  }

  h11 {
    text-align: center;
    font-size:xx-large;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(213, 224, 240);
    background: rgb(80, 141, 212);
  }
  h1 {
    text-align: center;
    font-size:xx-large;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(180, 130, 31);
  }
  h2 {
    font-size:x-large;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(213, 224, 240);
  }h3{
    font-size:large;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(213, 224, 240);
  }

  .tablink {
    background-color: #3b6b93;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
    background-color: #5e57a2;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
  }


  .cards-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: center;
    margin: 20px 0;
  }
  

.card {
  background-color: #653fdf;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(54, 92, 182, 0.2);
  overflow: hidden;
  width: 250px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(61, 85, 195, 0.3);
}
.img:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 20px rgba(61, 85, 195, 0.3);
}
  /* Style each tab content individually */
  #Currents {background-color:rgb(140, 169, 237);}
  #Paris {background-color:rgb(140, 169, 237);}
  #Tokyo {background-color:rgb(140, 169, 237);}
  #Oslo {background-color:rgb(140, 169, 237);}
  #Resume {background-color:rgb(140, 169, 237);}