img {
    width: 200px;
  }

body {
    text-align: center;
    font-family: 'Arial';
    background: rgb(22, 41, 95);
    color: rgb(255, 255, 255);
  }

  h1 {
    text-align: center;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgb(203, 129, 95);
  }